{extend name="public:base"/}
{block name="body"}

   <div class="row">
    <div class="col-md-8">
        <div class="page-header">
            <h2>{$cateName}</h2>

        </div>
{volist name="artList" id="art" empty="$empty"}
       <div>
           <a href="{:url('detail',['id'=>$art.id])}"><img class="img-rounded" src="/uploads/{$art.title_img}"
                style="margin-right: 30px;object-fit: contain;float: left;width: 170px;height: 125px"/></a>
           <div class="content-detail" style="float: left;width: 70%">
               <!-- 获取当前文章的id -->
               <h4><a href="{:url('detail',['id'=>$art.id])}">{$art.title}</a></h4>
               <p>作者:{$art.user_id|getUserName}&nbsp;&nbsp;&nbsp;&nbsp;
                   发布时间：{$art.create_time}&nbsp;&nbsp;&nbsp;&nbsp;阅读量:{$art.pv}
               </p>
               <div><a href="{:url('detail',['id'=>$art.id])}">{$art.content|getArtContent}</a></div>
               <hr/>
           </div>
       </div>

      {/volist}
        <div class="text-center">   <!--style="
	position: fixed;left: -210px;
	bottom: 180px;
	width: 100%;
	z-index: 100; ">-->
        {$artList|raw}
        </div>
       {/block}