{layout name="public:layout"/}
<h4 class="text-center text-success">文章管理</h4>
<table class="table table-default table-hover text-center">
    <tr>
        <td>ID</td>
        <td>标题</td>
        <td>栏目</td>
        {eq name="$Think.session.admin_level" value="1"}
        <td>作者</td>
        {/eq}
        <td>阅读量</td>
        <td>创建时间</td>
        <td colspan="2">操作</td>
    </tr>
    {volist name="artList" id="article" empty="$empty"}<!--//遍历-->
    <tr>
        <td>{$article.id}</td>
        <td>{$article.title}</td>
        <td>{$article.cate_id|getCateName}</td>
        {eq name="$Think.session.admin_level" value="1"}
        <td>{$article.user_id|getUserName}</td>
        {/eq}

        <td>{$article.pv}</td>
        <td>{$article.create_time}</td>
        <td><a href="{:url('article/articleEdit',['id'=>$article.id])}">编辑</a></td>
        <td><a href="<!--javascript:;-->" onclick="dele({$article.id});return false">删除</a></td>
    </tr>
    {/volist}
</table>

<a class="btn btn-info"  href="/index.php/index/index/insert" role="button">添加文章</a>
<div class="text-center">
    {$artList|raw}
</div>
<script>

    function dele(id){
        if(confirm('你是真的要删除吗')==true){
            window.location.href="{:url('article/doDelete')}"+"?id="+id;

        }
    }
</script>